@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  resize: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --first: #ffffff;
  --second: #c3bef7;
  --third: #d500ff;
  --fourth: #5100ff;
  --fifth: #fff7f7;
  --sixth: #2b3a67;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media only screen and (max-width: 900px) {
  * {
    scroll-margin: 6rem;
  }
  html {
    font-size: 56%;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 700px) {
  * {
    scroll-margin: 6rem;
  }
  html {
    font-size: 50%;
    overflow-x: hidden;
  }
}

*::selection {
  background: var(--fourth);
  color: var(--first);
}

body {
  background-color: var(--first);
  color: var(--sixth);
  font-size: 1.6rem;
  overflow-x: hidden;
}

button {
  font-size: 1.6rem;
  background-color: var(--fourth);
  padding: 1rem 3rem;
  border: none;
  border: 0.2rem solid var(--fourth);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  align-self: flex-start;
}

button:hover {
  color: var(--fourth);
  background-color: transparent;
  border: 0.2rem solid var(--fourth);
}

button a {
  text-transform: uppercase;
  color: var(--first);
}

button:hover a {
  color: var(--fourth);
}

button a i {
  margin-left: 1rem;
  animation: arrowMove 1s infinite;
}

@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0.4rem);
  }
  90% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

h1 {
  margin-bottom: 3rem;
  text-align: center;
  color: var(--fourth);
  font-size: 4rem;
  font-weight: 500;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  background-color: var(--sixth);
  border-radius: 5rem;
  height: 0.4rem;
  left: 35%;
  width: 50%;
}

h1 i {
  color: var(--sixth);
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3rem;
}

@media only screen and (max-width: 700px) {
  body {
    scroll-margin: 10rem;
  }
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header {
  background: var(--first);
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
}

header .logo {
  font-size: 2.4rem;
  color: var(--sixth);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

header .logo:hover {
  color: var(--fourth);
}

header .logo i {
  font-size: 2rem;
  margin-right: 0.4rem;
}

header .logo span {
  color: var(--fourth);
}

header nav ul {
  display: flex;
}

header nav ul li {
  cursor: pointer;
}

header nav ul li a {
  font-size: 1.5rem;
  display: inline-block;
  color: var(--sixth);
  padding: 0.5rem 0;
  margin: 0 0.8rem;
  font-weight: 500;
  border: 0.3rem solid transparent;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative;
}

header nav ul li:hover a {
  transform: translateY(-0.6rem);
}

header nav ul li a.active,
header nav ul li:hover a {
  color: var(--fourth);
  border-bottom: 0.3rem solid var(--fourth);
}

#hamburger {
  display: none;
  font-size: 3rem;
  cursor: pointer;
}

.fa-bars {
  animation: rotateBack 0.2s linear;
}

@keyframes rotateBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@media only screen and (max-width: 900px) {
  #hamburger {
    display: block;
  }

  header nav {
    position: fixed;
    left: -100%;
    top: 6rem;
    width: 60%;
    height: 100vh;
    text-align: center;
    background: #fff;
    padding: 3rem;
    transition: 0.3s;
  }

  header nav.checked {
    left: 0;
  }

  .fa-times {
    animation: rotateFront 0.3s linear;
  }

  @keyframes rotateFront {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  header nav ul {
    display: block;
  }

  header nav ul li a {
    margin: 0.7rem 0;
  }
}

/* Main Container */

/* Home Section */

#home {
  background-color: var(--fifth);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home .home-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.home .home-content .Intro {
  margin: -3rem 0;
}

.home .home-content h2 {
  font-size: 5rem;
  color: var(--sixth);
}

.home .home-content h2 .wave i {
  transform: rotate(-45deg) rotateY(180deg);
  color: var(--fourth);
  font-size: 4.5rem;
  margin-left: 0.5rem;
}

.home .home-content h2 .wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block;
  transform-origin: 85% 85%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.home .home-content h2 .name {
  color: var(--fourth);
}
.home .home-content p {
  font-weight: 600;
  font-size: 3rem;
  align-self: flex-start;
}

.home .home-content p .text-type {
  color: var(--fourth);
}

.home .social-icons {
  display: flex;
  gap: 2rem;
}

.home .home-content ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--second);
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.home .home-content ul li a {
  font-size: 2.5rem;
  color: var(--fourth);
  transition: all 0.1s ease-in-out;
}

.home .home-content ul li:hover a {
  color: var(--first);
}

.home .home-content ul li:hover {
  border: none;
}

.home .home-content ul li:nth-child(1):hover {
  background-color: rgb(250, 15, 215);
}

.home .home-content ul li:nth-child(2):hover {
  background-color: orange;
}

.home .home-content ul li:nth-child(3):hover {
  background-color: rgb(3, 138, 191);
}

.home .home-content ul li:nth-child(4):hover {
  background-color: red;
}

.home .home-content ul li:nth-child(5):hover {
  background-color: rgb(3, 138, 191);
}

.home .home-content ul li:nth-child(6):hover {
  background-color: black;
}

.home .home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  animation: upDown 2s infinite alternate;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(-4rem);
  }
}

.home .home-logo img {
  width: 40rem;
}

@media only screen and (max-width: 900px) {
  .home {
    flex-direction: column;
    padding-top: 10rem;
  }
  .home .home-content {
    width: 100%;
  }
  .home .home-logo {
    margin: 8rem 0;
    width: 50rem;
  }
  .home .home-logo img {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .home .home-logo {
    width: 40rem;
  }
}

/* About Section */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 4rem;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.about .about-container .about-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about .about-container .about-content .data {
  text-align: justify;
  margin: 2rem 0;
}

.about .about-container .about-content span {
  color: var(--fourth);
}

.about .about-container .about-content span small {
  color: var(--sixth);
}

.about .about-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.about .about-logo img {
  width: 40rem;
}

.about .resumeBtn {
  margin-top: 2rem;
}

.about .resumeBtn a i {
  animation: none;
}

@media only screen and (max-width: 900px) {
  .about {
    margin-top: 2rem;
  }
  .about .about-container {
    flex-direction: column;
  }
  .about .about-container .about-content {
    width: 100%;
    margin-top: -8rem;
  }
  .about .about-container .about-logo {
    width: 65rem;
    margin: 2rem 0 5rem 0;
  }
  .about .about-container .about-logo img {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .about .about-container .about-logo {
    margin-top: 1rem;
    width: 100%;
  }
  .about .about-container .about-content {
    width: 100%;
  }
  .about .about-container .about-logo img {
    width: 70%;
  }
}

/* Education Section */

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.education .education-container {
  min-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.education .education-container .education-box {
  width: 40rem;
  padding: 2rem 5rem;
  position: relative;
}

.education .education-container .education-box::after {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 100%;
  background-color: var(--sixth);
  right: -0.2rem;
  top: 0;
  z-index: -6;
}

.education .education-container .education-box:nth-child(2)::after {
  left: -0.2rem;
}

.education .education-container .education-box:nth-child(1) {
  align-self: flex-start;
}

.education .education-container .education-box:nth-child(2) {
  align-self: flex-end;
  margin-left: -2rem;
}

.education .education-container .education-box:nth-child(3) {
  align-self: flex-start;
}

.education .education-container .education-box i {
  position: absolute;
  top: 15%;
  right: -6.5%;
  font-size: 2rem;
  background-color: var(--fifth);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5rem solid var(--fourth);
  text-align: center;
  line-height: 4rem;
}

.education .education-container .education-box:nth-child(2) i {
  left: -6.5%;
}

.education .education-container .education-box .box {
  border: 0.4rem solid var(--fourth);
  padding: 0 1rem;
  border-radius: 1rem;
  position: relative;
}

.education .education-container .education-box .box .arrow {
  position: absolute;
  content: "";
  width: 3rem;
  height: 1.8rem;
  background-color: var(--fourth);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  top: 15%;
  right: -9%;
  transform: rotate(90deg);
}

.education .education-container .education-box:nth-child(2) .box .arrow {
  left: -9%;
  transform: rotate(270deg);
}

@media only screen and (max-width: 700px) {
  .education .education-container {
    padding-right: 5rem;
  }
  .education .education-container .education-box:nth-child(1) {
    align-self: center;
  }

  .education .education-container .education-box:nth-child(2) {
    align-self: center;
    margin-left: 0;
  }

  .education .education-container .education-box:nth-child(3) {
    align-self: center;
  }
  .education .education-container .education-box:nth-child(2)::after {
    left: 99.5%;
  }
  .education .education-container .education-box:nth-child(2) .box .arrow {
    left: 99%;
    transform: rotate(90deg);
  }
  .education .education-container .education-box:nth-child(2) i {
    left: 93.5%;
  }
}

/* Skills Section */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  scroll-margin: 3rem;
}

.skills .skills-container {
  max-width: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.skills .skills-container .skill {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: var(--first);
  cursor: pointer;
}

.skills .skills-container .skill::before,
.skills .skills-container .skill::after {
  content: "";
  position: absolute;
  width: 13rem;
  height: 13rem;
  background-color: var(--sixth);
  z-index: -6;
  border-radius: 2rem;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.skills .skills-container .skill:hover:after {
  background-color: var(--second);
  transform: rotate(90deg);
  z-index: -99;
}

.skills .skills-container .skill img {
  width: 5rem;
  margin-top: -1rem;
}

.skills .skills-container .skill p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  background-color: var(--first);
  color: var(--fourth);
  padding: 0.2rem 0.6rem;
  border-radius: 5rem;
}

@media only screen and (max-width: 700px) {
  .skills {
    scroll-margin: 7rem;
  }
}

@media only screen and (max-width: 900px) {
  .skills {
    scroll-margin: 8rem;
  }
}

/* Experience Section */

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.experience .experience-container {
  max-width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 1rem;
  transition: 0.3s;
}

.experience .experience-container .experience-box {
  display: flex;
  gap: 1rem;
  border: 0.4rem solid var(--fourth);
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  transform: translateX(0.4rem) translateY(-0.4rem);
  box-shadow: -1rem 1rem var(--sixth);
}

.experience .experience-container .experience-box:hover {
  transform: translateX(0) translateY(0);
  box-shadow: 0rem 0rem transparent;
}

.experience .experience-container .experience-box .image {
  max-width: 15rem;
  max-height: 15rem;
  overflow: hidden;
}

.experience .experience-container .experience-box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience .experience-container .experience-box .box-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/* Projects */

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.projects .projects-container {
  max-width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.projects .menu {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects .menu button {
  margin: 1rem 1rem;
  color: var(--fourth);
  background-color: var(--first);
}

.projects .menu button:hover,
.projects .menu .activeProject {
  color: var(--first);
  background-color: var(--fourth);
}

.projects .projects-container .project-box {
  display: flex;
  flex-direction: column;
  width: 30rem;
  border: 1rem solid var(--sixth);
  background-color: var(--sixth);
  border-radius: 5rem 5rem 2.5rem 2.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
  /* transition: all 1s ease-in-out, display 1s ease-in-out 10s; */
}

.projects .projects-container .project-box:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* .projects .projects-container .border-box {
  border: 5px dotted var(--sixth);
  border-radius: 0 0 5px 5px;
  padding: 3px;
  transition: all 0.3s ease-in-out, display 1s ease-in-out 10s;
} */

.projects .projects-container .project-box h3 {
  position: relative;
  top: 0;
  left: -0.2rem;
  font-weight: 500;
  width: 30rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  background-color: var(--fourth);
  color: var(--first);
  border-radius: 0 0 0.5rem 0.5rem;
}

.projects .projects-container .project-box .image-box {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.projects .projects-container .project-box .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.projects .projects-container .project-box .box-content {
  padding: 0.5rem 1rem;
  background-color: var(--first);
}

.projects .projects-container .project-box .buttons {
  position: absolute;
  width: 100%;
  height: 13.5rem;
  left: 0;
  bottom: -40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sixth);
  gap: 1rem;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;
  transition: 0.3s;
}

.projects .projects-container .project-box .buttons button {
  width: 90%;
  align-self: center;
  color: var(--first);
}

.projects .projects-container .project-box .buttons button:hover {
  border: 0.2rem solid white;
}

.projects .projects-container .project-box .buttons button:hover a {
  color: var(--first);
}

.projects .projects-container .project-box .buttons button a i {
  animation: none;
}

.projects .projects-container .project-box:hover .buttons {
  bottom: -1rem;
}

/* .projects-shrink {
  transform: scale(0);
  transition: all 1s ease-in-out, display 1s ease-in-out 10s;
  display: none;
}

.projects-expand {
  transform: scale(1);
  transition: all 1s ease-in-out, display 1s ease-in-out 10s;
  display: block;
} */

/* Contact Us */

.contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 0.2rem;
  right: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: gray;
}
.content .left-side .details {
  margin: 1.4rem;
  text-align: center;
}
.content .left-side .details i {
  font-size: 3rem;
  color: var(--fourth);
  margin-bottom: 1rem;
}
.content .left-side .details .topic {
  font-size: 1.8rem;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 1.4rem;
  color: gray;
}
.contact .content .right-side {
  width: 75%;
  margin-left: 7.5rem;
}
.content .right-side .topic-text {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--fourth);
}
.right-side .input-box {
  height: 5rem;
  width: 100%;
  margin: 1.2rem 0;
  position: relative;
}
.right-side .input-box i {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

.right-side .input-box input:focus ~ i,
.right-side .input-box textarea:focus ~ i {
  color: var(--fourth);
}

.right-side .input-box .fa-message {
  top: 2rem;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  background: var(--first);
  border: 0.2rem solid gray;
  border-radius: 0.6rem;
  padding: 0 4.5rem;
  resize: none;
}

.right-side .input-box input:focus,
.right-side .input-box textarea:focus {
  border-color: var(--fourth);
}

.right-side .message-box {
  min-height: 11rem;
}
.right-side .input-box textarea {
  padding-top: 0.6rem;
}
.LetsTalkBtn {
  color: var(--first);
}

.LetsTalkBtn i {
  margin-left: 0.5rem;
}

@media (max-width: 900px) {
  .contact {
    width: 100%;
    margin-top: 5rem;
  }
  .contact .content {
    flex-direction: column-reverse;
  }
  .contact .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 4rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact .content .left-side::before {
    display: none;
  }
  .contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* Footer */

#footer {
  background-color: var(--sixth);
  color: var(--first);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  font-size: 1.8rem;
  padding: 1.5rem 0;
  font-weight: 500;
}

.footer h2 i {
  margin: 0 1rem;
  color: red;
}
