@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  resize: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --first: #ffffff;
  --second: #c3bef7;
  --third: #d500ff;
  --fourth: #5100ff;
  --fifth: #fff7f7;
  --sixth: #2b3a67;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

*::selection {
  background: var(--fourth);
  color: var(--first);
}

body {
  background-color: var(--first);
  color: var(--sixth);
  font-size: 1.6rem;
}

button {
  font-size: 16px;
  background-color: var(--fourth);
  padding: 10px 30px;
  border: none;
  border: 2px solid var(--fourth);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  align-self: flex-start;
}

button:hover {
  color: var(--fourth);
  background-color: transparent;
  border: 2px solid var(--fourth);
}

button a {
  text-transform: uppercase;
  color: var(--first);
}

button:hover a {
  color: var(--fourth);
}

button a i {
  margin-left: 10px;
  animation: arrowMove 1s infinite;
}

@keyframes arrowMove {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(4px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

h1 {
  margin-bottom: 5rem;
  text-align: center;
  color: var(--fourth);
  font-size: 4rem;
  font-weight: 500;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  bottom: -2px;
  background-color: var(--sixth);
  border-radius: 50px;
  height: 4px;
  left: 35%;
  width: 50%;
}

h1 i {
  color: var(--sixth);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

@media only screen and (max-width: 700px) {
  body {
    scroll-margin: 10rem;
  }
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header {
  background: var(--first);
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

header .logo {
  font-size: 2rem;
  color: var(--sixth);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

header .logo:hover {
  color: var(--fourth);
}

header .logo i {
  font-size: 1.6rem;
  margin-right: 0.3rem;
}

header .logo span {
  color: var(--fourth);
}

header nav ul {
  display: flex;
}

header nav ul li a {
  font-size: 1.5rem;
  display: inline-block;
  color: var(--sixth);
  padding: 5px 0;
  margin: 0 10px;
  font-weight: 500;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: var(--fourth);
  border-bottom: 3px solid var(--fourth);
}

header nav ul li a:hover {
  margin-top: -5px;
}

#menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.fa-bars {
  animation: rotateBack 0.2s linear;
}

@keyframes rotateBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@media only screen and (max-width: 900px) {
  #menu {
    display: block;
  }

  header nav {
    position: absolute;
    left: -100%;
    top: 60px;
    width: 60%;
    height: 100vh;
    text-align: center;
    background: #fff;
    padding: 30px;
    transition: 0.3s;
  }

  header nav.checked {
    left: 0;
  }

  .fa-times {
    animation: rotateFront 0.3s linear;
  }

  @keyframes rotateFront {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  header nav ul {
    display: block;
  }
  header nav ul li a {
    margin: 5px 0;
  }
  header nav ul li a:hover {
    margin-top: 5px;
  }
}

/* Main Container */

/* Home Section */

.home {
  background-color: var(--fifth);
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#home .home-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#home .home-content .Intro {
  margin: -30px 0;
}

#home .home-content h2 {
  font-size: 5rem;
  color: var(--sixth);
}

#home .home-content h2 .wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite; /* Never stop waving :) */
  display: inline-block;
  transform-origin: 80% 80%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#home .home-content h2 .name {
  color: var(--fourth);
}
#home .home-content p {
  font-weight: 600;
  font-size: 30px;
  align-self: flex-start;
}

#home .home-content p .text-type {
  color: var(--fourth);
}

#home .social-icons {
  display: flex;
  gap: 20px;
}

#home .home-content ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--second);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#home .home-content ul li a {
  font-size: 25px;
  color: var(--fourth);
  transition: all 0.1s ease-in-out;
}

#home .home-content ul li:hover a {
  color: var(--first);
}

#home .home-content ul li:hover {
  border: none;
}

#home .home-content ul li:nth-child(1):hover {
  background-color: rgb(176, 14, 114);
}

#home .home-content ul li:nth-child(2):hover {
  background-color: blue;
}

#home .home-content ul li:nth-child(3):hover {
  background-color: rgb(3, 138, 191);
}

#home .home-content ul li:nth-child(4):hover {
  background-color: red;
}

#home .home-content ul li:nth-child(5):hover {
  background-color: rgb(3, 138, 191);
}

#home .home-content ul li:nth-child(6):hover {
  background-color: black;
}

#home .home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  animation: upDown 2s infinite alternate;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}

#home .home-logo img {
  width: 40rem;
}

@media only screen and (max-width: 900px) {
  #home {
    flex-direction: column;
    padding-top: 10rem;
  }
  #home .home-content {
    width: 100%;
  }
  #home .home-logo {
    margin-top: 8rem;
  }
}

/* About Section */

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

#about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

#about .about-container .about-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#about .about-container .about-content .data {
  text-align: justify;
  margin: 2rem 0;
}

#about .about-container .about-content span {
  color: var(--fourth);
}

#about .about-container .about-content span small {
  color: var(--sixth);
}

#about .about-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

#about .about-logo img {
  width: 40rem;
}

#about .resumeBtn {
  margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
  #about {
    margin-top: 2rem;
  }
  #about .about-container {
    flex-direction: column;
  }
  #about .about-container .about-content {
    width: 100%;
    margin-top: -8rem;
  }
  #about .about-container .about-logo {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #about .about-container .about-logo {
    width: 100%;
  }
  #about .about-container .about-content {
    width: 100%;
  }
  #about .about-container .about-logo img {
    width: 38rem;
  }
}

/* Skills Section */

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#skills .skills-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 10px;
}

#skills .skills-container .skill {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: var(--first);
  cursor: pointer;
}

#skills .skills-container .skill::before,
#skills .skills-container .skill::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: var(--sixth);
  z-index: -6;
  border-radius: 20px;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

#skills .skills-container .skill:hover:after {
  background-color: var(--second);
  transform: rotate(90deg);
  z-index: -99;
}

#skills .skills-container .skill img {
  width: 50px;
}

#skills .skills-container .skill p {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}

/* Contact Us */

.contact {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: var(--fourth);
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.contact .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: var(--carmine-pink);
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .sendNow-btn {
  display: inline-block;
  margin-top: 12px;
}
.right-side .sendNow-btn input[type="button"] {
  color: white;
  font-size: 18px;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--fourth);
  cursor: pointer;
  transition: all 0.3s ease;
}
.sendNow-btn input[type="button"]:hover {
  opacity: 0.8;
}

.LetsTalkBtn {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .contact {
    width: 100%;
    margin-top: 5rem;
  }
  .contact .content {
    flex-direction: column-reverse;
  }
  .contact .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact .content .left-side::before {
    display: none;
  }
  .contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
